*{
    margin: 0;
    padding: 0;
}

/* HEADER*/
$header: #00AEFF;
$header-light: #36C3FF;
$header-dark: #009BDD;
$header-child-height: 67px;
header{
    background: $header;
    display: flex;
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: space-around;
    div:first-child{
        background: $header-dark;
        flex-basis: 25%;
        height: $header-child-height;
    }
    div:last-child{
        background: $header-light;
        flex-basis: 25%;
        height: $header-child-height;
    }
}
@media (max-width:1280px) {
    header{
        justify-content: space-between;
        div{
            margin:  40px;
        }
    }
}
@media (max-width:375px){
    header{
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 100;
        div{
            width: 90%;
            margin: 10px;
            height: 20px;
        }
    }
}
/*CONTENT*/
$block-1-bg: #FF5607;
$block-1-item: #E84900;
$img: #FFBD00;
.content{
    display: flex;
    justify-content: center;
    div.container{
        flex-basis: 75%;
        height: 80%;
        display: flex;
    }
    .block-1{
        background: $block-1-bg;
        flex:1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 20px;
        padding-right: 15px;
        padding-top: 10px;
    }
    .block-2{
        flex:4;
        display: flex;
        flex-direction: column;
    }
}
.block-1{
    .item{
        background: $block-1-item;
        height: 5%;
        width: 90%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
.block-2{
    $padding: 20px;
    $top-blocks-size: 40%;
    .top{
        flex: 1;
        display: flex;
        justify-content: space-between;
        padding: $padding;
        padding-right: 0;
    }
    .top-img{
        background: $img;
        //height: 50%;
        width: $top-blocks-size;
    }
    .top-list{
        background: green;
        //height: 100px;
        width: $top-blocks-size;
    }



    .bottom{
        flex: 2;
        background: red;
        padding: $padding;
    }
}
@media (max-width:1280px) {
    .content div.container{
        flex-basis: 100%;
        height: 80%;
    }
    .block-2{
        $padding: 20px;
        $top-blocks-size: 40%;
        .top{
            padding-right: $padding;
        }
    }
}
@media (max-width:375px){
    .content{
        div.container{
            flex-basis: 100%;
            flex-direction: column;
        }
        .block-1{
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            margin: 0;
            padding: 0;
            flex: 0.5;
        }
        .block-2{
            flex:4;
        }
    }
    .block-1 .item{
        display: none;
    }
    .block-1 .item:nth-child(-n+3){
        display: block;
        flex-basis: 23%;
    }
}
/*FOOTER*/
$footer: #00D169;
$footer-cont: #02B15A;
$footer-item: #038042;
footer{
    display: flex;
    width: 100%;
    height: 220px;
    align-items: center;
    justify-content: center;
    background: $footer;
    div.footer-cont{
        display: flex;
        flex-direction: column;
        height: 150px;
        width: 150px;
        background: $footer-cont;
        margin: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        align-items: center;
        justify-content: space-between;
    }
    div.footer-item{
        background: $footer-item;
        width: 80%;
        height: 200px;
        margin: 10px;
    }
}
@media (max-width:1280px) {
    footer div.footer-cont{      
        height: 170px;
        width: 200px;
    }
}
@media (max-width:375px) {
    footer{
        flex-direction: column;
        padding: 0;
        padding-top: 4px;
        padding-bottom: 4px;
        div.footer-cont{
            align-items: flex-start;
            justify-content: center;
            height: 170px;
            width: 90%;
            padding-left: 14px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        div.footer-item{
            display: none;
            margin: 0;
            padding: 0;
        }
        div.footer-item:first-child{
            display: block;
            width: 80%;
            height: 80%;
        }
    }
}