* {
  margin: 0;
  padding: 0;
}

/* HEADER*/
header {
  background: #00AEFF;
  display: flex;
  width: 100%;
  height: 150px;
  align-items: center;
  justify-content: space-around;
}

header div:first-child {
  background: #009BDD;
  flex-basis: 25%;
  height: 67px;
}

header div:last-child {
  background: #36C3FF;
  flex-basis: 25%;
  height: 67px;
}

@media (max-width: 1280px) {
  header {
    justify-content: space-between;
  }
  header div {
    margin: 40px;
  }
}

@media (max-width: 375px) {
  header {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100px;
  }
  header div {
    width: 90%;
    margin: 10px;
    height: 20px;
  }
}

/*CONTENT*/
.content {
  display: flex;
  justify-content: center;
}

.content div.container {
  flex-basis: 75%;
  height: 700px;
  display: flex;
}

.content .block-1 {
  background: #FF5607;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 20px;
  padding-right: 15px;
  padding-top: 10px;
}

.content .block-2 {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.block-1 .item {
  background: #E84900;
  height: 30px;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.block-2 .top {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-right: 0;
}

.block-2 .top-img {
  background: #FFBD00;
  width: 40%;
}

.block-2 .top-list {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.block-2 .bottom {
  flex: 2;
  flex-direction: column;
  padding-left: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.block-2 .top-list .item, .block-2 .bottom .item {
  background: #CECECE;
  height: 20px;
}

.block-2 .top-list .item:first-child {
  background: #9D9D9D;
  height: 26px;
}

@media (max-width: 1280px) {
  .content div.container {
    flex-basis: 100%;
  }
  .block-2 .top, .bottom {
    padding-right: 20px;
  }
}

@media (max-width: 375px) {
  .content div.container {
    flex-basis: 100%;
    height: 1200px;
  }
  .content div.container {
    flex-basis: 100%;
    flex-direction: column;
  }
  .content .block-1 {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    flex: 0.2;
  }
  .content .block-2 {
    flex: 4;
  }
  .block-1 .item {
    display: none;
  }
  .block-1 .item:nth-child(-n+3) {
    display: block;
    flex-basis: 26%;
    max-height: 35px;
  }
  .block-2 .top {
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    flex: 4;
  }
  .block-2 .top-img {
    flex: 1;
    width: 100%;
    height: 50%;
  }
  .block-2 .top-list {
    flex: 1;
    width: 89%;
    height: 50%;
    padding: 20px;
    padding-left: 20px;
  }
  .block-2 .bottom {
    width: 89%;
    flex: 4;
    padding: 20px;
    padding-top: 0;
  }
  .block-2 .top-list .item, .block-2 .bottom .item {
    background: #CECECE;
    height: 20px;
  }
  .block-2 .top-list .item:first-child {
    background: #9D9D9D;
    height: 26px;
  }
}

/*FOOTER*/
footer {
  display: flex;
  width: 100%;
  height: 220px;
  align-items: center;
  justify-content: center;
  background: #00D169;
}

footer div.footer-cont {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 150px;
  background: #02B15A;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}

footer div.footer-item {
  background: #038042;
  width: 80%;
  height: 200px;
  margin: 10px;
}

@media (max-width: 1280px) {
  footer div.footer-cont {
    height: 170px;
    width: 200px;
  }
}

@media (max-width: 375px) {
  footer {
    flex-direction: column;
    padding: 0;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  footer div.footer-cont {
    align-items: flex-start;
    justify-content: center;
    height: 170px;
    width: 90%;
    padding-left: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  footer div.footer-item {
    display: none;
    margin: 0;
    padding: 0;
  }
  footer div.footer-item:first-child {
    display: block;
    width: 80%;
    height: 80%;
  }
}
/*# sourceMappingURL=style.css.map */